<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beer Grid</title>
    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{source/bootstrap-3.3.6-dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{source/font-awesome-4.5.0/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/slider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}">

</head>
<body>
<div>
    <div class="container-fluid" style="margin-top: 200px">
        <div class="col-md-6 col-md-offset-3">
            <div id="p-flex">
                <div class="p-flex" th:object="${beer}">
                    <div class="p-flex-in">
                        <input type="hidden" th:field="*{id}"/>
                        <img class="p-img" th:src="@{'/beers/'+${beer.getId()}+'/imagefile'}"/>
                        <div class="p-name" th:text="*{name}">Beer</div>
                        <div class="p-abv" th:text="*{abv}">4.5</div>
                        <label name="descr" th:text="#{beers.description}">Description</label>
                        <div class="p-desc" id="descr" th:text="*{description}">Description</div>
                        <div class="p-name" th:text="*{style.name}">Style</div>
                        <div class="p-name" th:text="*{brewery.name}">Brewery</div>
                        <a th:href="@{'/auth/beers/'+${id}+'/wish/add'}"> <button class="p-add" th:text="#{beers.addToWishList}">Add Beer to list</button></a>
                        <a th:href="@{'/auth/beers/'+${id}+'/drunk/add'}"> <button class="p-add" th:text="#{beers.addToDrunkList}">Add Beer to list</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="pannel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Upload a new recipe image</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                                   th:action="@{'/beers/'+${beer.getId()}+'/image'}">
                                <label class="control-label">Select File</label>
                                <input id="imagefile" name="imagefile" type="file" class="file">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>