<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BEER tag</title>
    <meta name="description" content="">

    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>
<body class="body">
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +66666666</li>
        </ul>

        <li class="logreg">
            <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>

        <li class="logreg">
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                <input type="submit" value="Login"/>
            </form>
        </li>

        <ul class="logreg">
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}"><span class="register">REGISTER</span></a>
            </li>
        </ul>

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/beers/search}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> find BEER <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="3">3</a></li>
                    </ul>
                </li>
                <button><a th:href="@{/auth/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>
                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>
            </ul>
        </div>
    </nav>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E S<span class="carstxt">B E E R S</span>&bullet;
        </h1>
    </div>
    <div class="feturedimage">
        <div class="row single">
            <div class="col-lg-6 costumcol colborder1 single">
                <div class="row costumrow" th:object="${beer}">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                        <img class="p-img" th:src="@{'/beer/'+${beer.id}+'/imagefile'}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant" >
                            <input type="hidden" th:field="*{id}"/>
                            <h1 th:text="*{name}">BEER NAME</h1>
                            <p th:text="*{description}">"Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt </p>
                            <h1 name="brew">BREWERY</h1>
                            <!--                            <a th:href="@{'/breweries/'+${beer.brewery.id}/}">-->
                            <h5 name="brew" th:text="*{brewery.name}">BREWERY</h5>
                            <h1 name="style">STYLE</h1>
                            <!--                            <a th:href="@{'/breweries/'+${beer.brewery.id}/}">-->
                            <h5 name="style" th:text="*{style.name}">STYLE</h5>
                            <h1 name="abv">ABV</h1>
                            <h1 th:text="*{abv}" name="abv"></h1>
                            <div class="wishtxt">
                                <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span>
                                </p>
                            </div>

                            <h5 name="tag">TAGS</h5>
                            <div th:each="tag : *{tags}">
                                <h5 th:text="${tag.toString()}">

                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 ">
                        <div class="wishtxt">
                            <a  th:href="@{'/auth/beers/'+${id}}"> <p class="paragraph2">Give Rating <span class="glyphicon glyphicon-star-empty"></span>
                            </p></a>
                        </div>
                    </div>
                </div>
                <div class="row costumrow">
                    <form th:action="@{'/auth/beers/'+${beer.id}+'/tag'}" th:object="${tag}" method="post"
                          class="contact" role="form">
                        <select th:id="inputStyle" th:field="*{id}" class="form-control">
                            <option selected th:each="tag: ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.name}"
                            >Choose...
                            </option>
                        </select>
                        <button type="submit" th:value="save" class="btn btn-primary">TAG it!</button>
                        <div class="row costumrow">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottommenu">
    <div class="bottomlogo">
        <span class="dotlogo">&bullet;</span><img src="../static/image/collectionlogo1.png" alt="logo1"><span
            class="dotlogo">&bullet;;</span>
    </div>
    <ul class="nav nav-tabs bottomlinks">
        <li role="presentation"><a href="#/" role="button">ABOUT US</a></li>
        <li role="presentation"><a href="#/">CATEGORIES</a></li>
        <li role="presentation"><a href="#/">PREORDERS</a></li>
        <li role="presentation"><a href="#/">CONTACT US</a></li>
        <li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
    </ul>
    <p>"Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt <br>
        eiusmod tempor incididunt"</p>
    <img src="../static/image/line.png" alt="line"> <br>
    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
        </div>
        <div class="atisda">
            Designed by <a href="http://www.webdomus.net/">Web Domus Italia - Web Agency </a>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="../static/source/js/isotope.js"></script>
<script type="text/javascript" src="../static/source/js/myscript.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>