<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>BEER tag</title>
    <meta name="description" content="">

    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>
<body class="body">
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +66666666</li>
        </ul>

        <li class="logreg">
            <form  th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>

        <li class="logreg">
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                <input type="submit" value="Login"/>
            </form>
        </li>

        <ul class="logreg" >
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}"><span class="register">REGISTER</span></a></li>
        </ul>

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

                <button><a th:href="@{/auth/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>
                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>
            </ul>
        </div>
    </nav>
</div>
    <!-- ____________________New BEER______________________________-->
<div class="allcontain">
    <div class="container-fluid single">
        <form action="#" th:action="@{'/auth/beers/'+${oldBeer.id}+'/edit'}" th:object="${beer}" method="post" class="contact" role="form">
            <div class="">
                <div class="leftside">
                    <div class="con">
                        <h1 class="contact-form">EDIT BEER</h1>
                        <div class="form-group group-coustume">
                            <label th:id="beerName">BEER NAME</label>
                            <input type="text" th:id="name" class="form-control name-form" th:field="*{name}"
                                   placeholder="CHANGE NAME">
                            <label class="error" th:errors="*{name}"></label>
                        </div>


                        <div class="form-group col-md-6">
                            <label th:id="inputBrewery">BREWERY NAME</label>
                            <select th:id="inputStyle" th:field="*{brewery.id}" class="form-control">
                                <option  th:each="brewery: ${breweries}"
                                        th:value="${brewery.id}"
                                        th:text="${brewery.name}"
                                >Choose...
                                </option>
                                <label class="error" th:errors="*{brewery}"></label>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label th:id="inputStyle">STYLE</label>
                                <select th:id="inputStyle" th:field="*{style.id}" class="form-control">
                                    <option th:each="style: ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.name}"
                                    >Choose...
                                    </option>
                                </select>
                                <a th:href="@{/styles/addForm}"> <h5 name="add"  >ADD STYLE</h5></a>
                            </div>
                            <div class="form-group col-md-4">
                                <label th:id="inputAbv">ABV</label>
                                <input type="text" th:field="*{abv}" class="form-control" th:id="inputAbv" placeholder="CHANGE ABV">
                                <label class="error" th:errors="*{abv}"/>
                            </div>
                        </div>
                        <div class="form-group group-coustume">
                        <textarea rows="6" cols="50" class="message-form" th:field="*{description}" th:id="addDescr"
                                  placeholder=" CHANGE DESRIPTION"></textarea>
                            <label class="error" th:errors="*{description}"/>
                        </div>
                        <button type="submit" th:value="save" class="btn btn-primary">EDIT BEER</button>
                    </div>
                    <div class="row costumrow">
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="container-fluid">
    <div class="row relative">
        <div class="col-lg-6 costumcol colborder1 single">
            <div class="row costumrow">
                <div class="feturedimage" th:object="${oldBeer}">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                        <img class="p-img" th:src="@{'/beer/'+*{id}+'/imagefile'}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant" >
                            <input type="hidden" th:field="*{id}"/>
                            <h1 th:text="*{name}">BEER NAME</h1>
                            <p th:text="*{description}">"Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt </p>
                            <h2 name="brew">BREWERY</h2>
                            <!--                            <a th:href="@{'/breweries/'+${beer.brewery.id}/}">-->
                            <h1 name="brew" th:text="*{brewery.name}">BREWERY</h1>
                            <h2 name="style">STYLE</h2>
                            <!--                            <a th:href="@{'/breweries/'+${beer.brewery.id}/}">-->

                            <h1 name="style" th:text="*{style.name}">STYLE</h1>
                            <h2 name="abv">ABV</h2>
                            <h1 th:text="*{abv}" name="abv"></h1>
                            <div class="wishtxt">
                                <p class="paragraph1"> add to wishlist <span class="glyphicon glyphicon-heart"></span></p>
                            </div>
                            <div class="wishtxt">
                                <p class="paragraph2"  > rating <span class="glyphicon glyphicon-stats"></span></p>
                                <p class="paragraph2" th:text="*{tempRating}">Rating
                                    <span class="glyphicon glyphicon-stats"> </span></p>
                            </div>
                            <!--                            <div th:if="${tempRating==0}" class="wishtxt">-->
                            <!--                                <h2 th:text="#{beers.noRating}"class= "paragraph2">No Rating</h2>-->
                            <!--                            </div>-->

                            <div class="wishtxt">
                                <a  th:href="@{'/beers/user/'+${beer.id}+'/addtag'}"><p class="paragraph3"> # TAG it!
                                    <span class="glyphicon glyphicon-tag"></span></p></a>
                            </div>
                            <h5 name="tag">TAGS</h5>
                            <div th:each="tag : *{tags}">
                                <h5 th:text="${tag.toString()}">
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-2 ">
                        <button><a th:href="@{'/beers/'+${beer.id}+'/image'}"><span
                                class="postnewcar">UPLOAD PICTURE</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <!-- ________________________LATEST CARS SECTION _______________________-->
    <br class="bottommenu">

    <p class="bottomlogo">"Discover and share your favorite beer with BEER TAG"</p>

    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2020 | <a href="#">TELERIK ACADEMY </a>| <a href="#">A17</a>
        </div>
        <div class="atisda">
            Created by <a href="http://www.webdomus.net/"> Martin Rusev & Teodora Ivanova </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="../static/source/js/isotope.js"></script>
<script type="text/javascript" src="../static/source/js/myscript.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>