<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BEER tag</title>
    <meta name="description" content="">

    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>
<body>
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +66666666</li>
        </ul>

        <li class="logreg">
            <form  th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>

        <li class="logreg">
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                <input type="submit" value="Login"/>
            </form>
        </li>

        <ul class="logreg" >
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}"><span class="register">REGISTER</span></a></li>
        </ul>

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/beers/search}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> find BEER <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="3">3</a></li>
                    </ul>
                </li>

                <button><a th:href="@{/auth/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>
                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>
            </ul>
        </div>
    </nav>
</div>
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img th:src="@{image/backSecond.jpg}" alt="oldcar">
                <div class="carousel-caption">
                    <h2>Great Beers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur ,<br>
                        sed do eiusmod tempor incididunt ut labore </p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default midle-nav">
            <div class="navbar-header">

            </div>
            <div class="collapse navbar-collapse" id="navbarmidle">
                <div class="searchtxt">
                    <h1>SEARCH TEXT</h1>
                </div>
                <form action="#" th:action="@{/beers/byname}" th:object="${beer}" method="post" class="navbar-form navbar-left searchformmargin" role="search">
                    <div class="form-group">
                        <input type="text"th:field="*{name}"  placeholder="Are your looking for great bear?" class="form-control searchform"/>

                <ul class="nav navbar-nav navbarborder">


                    <li class="li-search"> <button class="searchbutton"type="submit"><span class="glyphicon glyphicon-search "></span></button></li>
                </ul>
                    </div>
                </form>
                <div class="slider-link">
                    <a th:href="@{/beers/style}">Browse Popular</a><span>or</span> <a href="#">Recently Addred</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>P O P U L A R <span class="carstxt">B E E R S</span>&bullet;</h1>
    </div>
</div>
</body>
</html>