<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BEER tag</title>
    <meta name="description" content="">

    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{../source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{../source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{../style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{../style/style.css}" href="../static/style/style.css">
</head>
<body>
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +66666666</li>
        </ul>

       <li class="logreg">
        <form  th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
            <input type="submit" value="Logout"/>
        </form>
       </li>

        <li class="logreg">
        <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
            <input type="submit" value="Login"/>
        </form>
        </li>
        <ul class="logreg" >
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}"><span class="register">REGISTER</span></a></li>
        </ul>

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/beers/search}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> find BEER <span class="caret"></span></a>
                </li>

                <li class="dropdown">
                    <a th:href="@{/styles}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{'/auth/users/'+${user}}">USER PROFILE</a>
                </li>
                <button><a th:href="@{/auth/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>
                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>
            </ul>
        </div>
    </nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img th:src="@{image/backSecond.jpg}" alt="oldcar">
                <div class="carousel-caption">
                    <h2>Beer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur ,<br>
                        sed do eiusmod tempor incididunt ut labore </p>
                </div>
            </div>
            <div class="item">
                <img src="@{image/homeBackGround.jpg}" alt="porche">
                <div class="carousel-caption">
                    <h2>Porche</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur ,<br>
                        sed do eiusmod tempor incididunt ut labore </p>
                </div>
            </div>
            <div class="item">
                <img src="../static/image/benz.jpg" alt="benz">
                <div class="carousel-caption">
                    <h2>Car</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur ,<br>
                        sed do eiusmod tempor incididunt ut labore </p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default midle-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse"
                        data-target="#navbarmidle" aria-expanded="false">
                    <h1>SEARCH TEXT</h1>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmidle">

            </div>
        </nav>
    </div>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>LATEST<span class="carstxt">B E E R S</span>&bullet;
        </h1>
        <div>
            <div>
                <div class="row">
                    <div class="col-md-offset-2" >
                        <button class="ui-button-icon-primary"><a th:href="@{/catalog/beers}"><span class="postnewcar">BROWSE ALL BEERS</span></a></button>
                        <button class="ui-button-icon-primary"><a th:href="@{/seacrh}"><span class="postnewcar">SEARCH BEERS</span></a></button>
                        <div id="p-flex">
                            <div class="p-flex" th:each="beer : ${beers}" >
                                <div class="p-flex-in">
                                    <img class="p-img" th:src="@{'/beer/'+${beer.getId()}+'/imagefile'}"/>
                                    <a th:href="@{'/beer/'+${beer.id}}"><div class="p-name" th:text="${beer.name}">Beer</div></a>
                                    <div class="p-abv" th:text="${beer.abv}">4.5</div>
                                    <label name="descr" th:text="#{beers.description}">Description</label>
                                    <div class="p-desc" id="descr" th:text="${beer.description}">Style</div>
                                    <label name="rating" th:text="#{beers.rating}">Description</label>
                                    <div class="p-desc" id="rating" th:text="${beer.tempRating}">Rating</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <!-- ______________________________________________________Bottom Menu ______________________________-->
    <br class="bottommenu">

    <p class="bottomlogo">"Discover and share your favorite beer with BEER TAG"</p>

    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2020 | <a href="#">TELERIK ACADEMY </a>| <a href="#">A17</a>
        </div>
        <div class="atisda">
            Created by <a href="http://www.webdomus.net/"> Martin Rusev & Teodora Ivanova  </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="../static/source/js/isotope.js"></script>
<script type="text/javascript" src="../static/source/js/myscript.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>