<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}" href="..static/style/style.css"/>
</head>
<body>
<h2>Modifying User</h2>
<!--<p>-->
<!--    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>-->
<!--</p>-->
<form action="#" th:action="@{/auth/users/modify}" th:object="${userUpdateDTO}" th:method="put" enctype="multipart/form-data">
<!--    <label>Username:</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{username}"/>-->
<!--    <br/>-->
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <br/>
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <label>Email:</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <br/>
    <input type="submit" value="Modify"/>
</form>
<!--<h3>-->
<!--    <a th:href="@{/login}">User Page</a>-->
<!--</h3>-->
</body>
</html>