<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}" href="..static/style/style.css"/>
</head>
<body>
<h2>Register Page</h2>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
</p>
<form action="#" th:action="@{/admin/register}" th:object="${userDto}" method="post" enctype="multipart/form-data">
    <label>Username:</label>
    <br/>
    <input type="text" th:field="*{username}"/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <br/>
    <label>First Name:</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <br/>
    <label>Last Name:</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <label>Email:</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <br/>
    <input type="submit" value="Register"/>
</form>

</body>
</html>