<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BEER tag</title>
    <meta name="description" content="">

    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>
<body class="body">
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +66666666</li>
        </ul>

        <li class="logreg">
            <form  th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>

        <li class="logreg">
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
                <input type="submit" value="Login"/>
            </form>
        </li>

        <ul class="logreg" >
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}"><span class="register">REGISTER</span></a></li>
        </ul>

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="3">3</a></li>
                    </ul>
                <button><a th:href="@{/auth/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>
                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>
            </ul>
        </div>
    </nav>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E S<span class="carstxt">STYLE</span>&bullet;</h1>
    </div>
    <div class="feturedimage">
        <div class="row relative" >
            <div class="col-lg-6 costumcol colborder1 relative">
                <div class="row costumrow">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 featurecontant ">
                        <div class="featurecontant" th:object="${style}">
                            <input type="hidden" th:field="*{id}"/>
                            <h1 th:text="*{name}"> NAME</h1>
                        </div>
                        </div>
                    </div>
                <div class="row costumrow">
                    <h1 name="tag" >BEERS</h1>
                    <div id="p-flex">
                        <div class="p-flex" th:each="beer : ${beers}" >
                            <div class="p-flex-in">
                                <img class="p-img" th:src="@{'/beer/'+${beer.id}+'/imagefile'}"/>
                                <a th:href="@{'/beer/'+${beer.id}}"><div class="p-name" th:text="${beer.name}">Beer</div></a>
                                <div class="p-abv" th:text="${beer.abv}">4.5</div>
                                <label name="descr" th:text="#{beers.header.style}">Description</label>
                                <div class="p-desc" id="style" th:text="${beer.style}">Style</div>
                                <label name="style" th:text="#{beers.country}">Description</label>
                                <div class="p-desc" id="country" th:text="${beer.country}">Style</div>
                                <label name="rating" th:text="#{beers.rating}">Rating</label>
                                <div class="p-desc" id="rating" th:text="${beer.tempRating}">Rating</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
<div class="bottommenu">
    <div class="bottomlogo">

    </div>
    <ul class="nav nav-tabs bottomlinks">
        <li role="presentation" ><a href="#/" role="button">ABOUT US</a></li>
        <li role="presentation"><a href="#/">CATEGORIES</a></li>
        <li role="presentation"><a href="#/">PREORDERS</a></li>
        <li role="presentation"><a href="#/">CONTACT US</a></li>
        <li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
    </ul>
    <p>"Lorem ipsum dolor sit amet, consectetur,  sed do eiusmod tempor incididunt <br>
        eiusmod tempor incididunt"</p>
    <img src="../static/image/line.png" alt="line"> <br>
    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
        </div>
        <div class="atisda">
            Designed by <a href="http://www.webdomus.net/">Web Domus Italia - Web Agency </a>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="../static/source/js/isotope.js"></script>
<script type="text/javascript" src="../static/source/js/myscript.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>