<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beer Grid</title>
    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{source/bootstrap-3.3.6-dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{source/font-awesome-4.5.0/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/slider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}">

</head>
<body class="relative">
<form action="http://localhost" method="post" enctype="multipart/form-data"
      th:action="@{'/beers/'+${beer.getId()}+'/image'}">
    <div class="form-group">
        <label class="control-label">ADD PICTURE</label>
        <input id="imagefile" name="imagefile" type="file" class="file" >
        <button type="submit"  class="btn btn-primary">submit picture</button>
    </div>
</form>
</body>
</html>