<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <meta name="description" content="">

    <meta name="author" content="Martin Rusev & Teodora Ivanova">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/source/bootstrap-3.3.6-dist/css/bootstrap.css}"
          href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/source/font-awesome-4.5.0/css/font-awesome.css}"
          href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/slider.css}" href="../static/style/slider.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" href="../static/style/style.css">
</head>
<body class="body">
<!-- Header -->
<div class="allcontain">
    <div class="header">
        <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="givusacall">
            <li>Give us a call : +0879 86 86 44</li>
        </ul>

        <li class="logreg">
            <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>

        <!--        <li class="logreg">-->
        <!--            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">-->
        <!--                <input type="submit" value="Login"/>-->
        <!--            </form>-->
        <!--        </li>-->

        <!--        <ul class="logreg" >-->
        <!--            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}"><span class="register">REGISTER</span></a></li>-->
        <!--        </ul>-->

    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<!--                <a class="navbar-brand logo" href="#"><img th:src="@{image/logoBeerSmall.png}" alt="logo"></a>-->
            </div>
        </div>
        <div class="collapse navbar-collapse" id="upmenu">
            <ul class="nav navbar-nav" id="navbarontop">
                <li class="active"><a th:href="@{/}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">BREWERIES <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a th:href="@{/auth/beers}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">BEERS <span class="caret"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">STYLES <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdowncostume">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="3">3</a></li>
                    </ul>
                </li>
                <!--                <button><a th:href="@{/beers/add}"><span class="postnewcar">POST NEW BEER</span></a></button>-->
                <!--                <button><a th:href="@{/admin}"><span class="postnewcar">ADMIN panel</span></a></button>-->
            </ul>
        </div>
    </nav>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>USER<span class="carstxt">DETAILS</span>&bullet;</h1>
        <button><a th:href="@{'/auth/users/'+${user.id}+'/modify'}"><span
                class="postnewcar">Modify User</span></a></button>
    </div>
    <div class="feturedimage">
        <div class="row relative">
            <div class="col-lg-6 costumcol colborder1 relative">
                <div class="row costumrow">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                        <img class="p-img" th:src="@{'/users/'+${user.getId()}+'/imagefile'}"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant" th:object="${user}">
                            <input type="hidden" th:field="*{id}"/>
                            <h1>Username:</h1>
                            <p th:text="*{username}"></p>
                            <h1 name="brew">First Name:</h1>
                            <p th:text="*{firstName}"></p>
                            <h1 name="brew">Last Name:</h1>
                            <p th:text="*{lastName}"></p>
                            <h1 name="brew">Email:</h1>
                            <p th:text="*{email}"></p>
                            <br>

                            <!--                            <div class="wishtxt">-->
                            <div style="text-align:center">
                                <a th:href="@{/}">Top 3 Beers</a>
                                <br><br>
                                <a th:href="@{'/auth/users/'+${user.getId()}+'/wish'}"> <button class="p-add">WISHLIST</button></a>
                                <a th:href="@{'/auth/users/'+${user.getId()}+'/drunk'}"> <button class="p-add">DRUNKLIST</button></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <button><a th:href="@{'/users/'+${user.id}+'/image'}"><span
                                class="postnewcar">UPLOAD PICTURE</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottommenu">
    <div class="bottomlogo">
<!--        <span class="dotlogo">&bullet;</span><img src="../static/image/collectionlogo1.png" alt="logo1"><span-->
<!--            class="dotlogo">&bullet;;</span>-->
    </div>
    <ul class="nav nav-tabs bottomlinks">
        <li role="presentation"><a href="#/" role="button">ABOUT US</a></li>
        <li role="presentation"><a href="#/">CATEGORIES</a></li>
        <li role="presentation"><a href="#/">PREORDERS</a></li>
        <li role="presentation"><a href="#/">CONTACT US</a></li>
        <li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
    </ul>
    <p>Beer. The best damn drink in the world!” Jack Nicholson</p>
    <img src="../static/image/line.png" alt="line"> <br>
    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2020 | <a href="#">TELERIK ACADEMY </a>| <a href="#">A17</a>
        </div>
        <div class="atisda">
            Designed by <a href="http://www.webdomus.net/">Martin Rusev & Teodora Ivanova </a>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="../static/source/js/isotope.js"></script>
<script type="text/javascript" src="../static/source/js/myscript.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
<script type="text/javascript" src="../static/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>